<head>

  <link rel="stylesheet" href="CSS/registration_number.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <title></title>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Registration_number</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="regCape">Cape Town</a></li>
        <li><a href="#">Bellville</a></li>
        <li><a href="#">Paarl</a></li>
      </ul>
    </div>
  </nav>
  <div class="back1">
  <div class="textbox">
    <div class="head">
      <h1 class="header">Registration number</h1>
    </div>
  </div>
  <hr>
    <form action="/regNo" method="post">

      <br>
      <br>
      <div class="coverall">
      <div class="button">Registration-number:
        <input type="text" placeholder="Type registration number here" size="30" name="name" type="text" value="" required=""></input>
        <button type="submit" class="btn-danger">Add</button>
      </div>
      <br>
      <br>

    </form>
    <form class="city" action="/city" method="post">
      <label for="CA">Cape Town <input type="radio"id="CA"name="location" value="CA" required=""></label>
      <label for="CY">Bellville  <input type="radio" id="CY"name="location" value="CY" required=""></label>
      <label for="CJ">Paarl  <input type="radio" id="CJ"name="location" value="CJ" required=""></label>
      <label for="">All <input type="radio" id="" name="location" value="" required=""></label>

      <button class="btn btn-danger navbar-btn">show</button>
    </form>
  </div>
  </div>
</body>
<br>
<br>
<br>
<br>
<br>
{{#each msg}}<br><br>
  <div class="msg plates">
    <p>{{this.reg_number}}</p><br>
  </div>
{{/each}}
<br>
<br>
